[submodule "security"]
	path = security
	url = https://github.com/tadwhitaker/Security_Engineer_Interview_Questions
[submodule "MLFullStack"]
	path = MLFullStack
	url = https://github.com/logancyang/my-cs-degree
[submodule "performanceChecklists"]
	path = performanceChecklists
	url = https://github.com/thedaviddias/Front-End-Performance-Checklist
[submodule "JSQs"]
	path = JSQs
	url = https://github.com/sudheerj/javascript-interview-questions
[submodule "reactQues"]
	path = reactQues
	url = https://github.com/sudheerj/reactjs-interview-questions
[submodule "sysAdminQs"]
	path = sysAdminQs
	url = https://github.com/trimstray/test-your-sysadmin-skills.git
[submodule "BugBounty"]
	path = BugBounty
	url = https://github.com/nahamsec/Resources-for-Beginner-Bug-Bounty-Hunters
